body{
    margin:0;
    text-align: center;
    font-family: 'Merriweather', sans-serif;
    color: #40514e;
}
h1{

    margin-top:50px;
    font-family: 'Sacramento', cursive;
    font-size:5.625rem; /*100%==16px==1em in font size*{
        em and percentage is dynamic but these get added upon
        for eg:if i apply font size of 2em in body and then 5.625 in h1 then net font size applied
        is 2+5.625=7.625em and same with %
        but px is static font size and it get's over-written.
        use rather rem  i.e. root em, this means just forgot all prev upstream style changes and apply it as new one.*/
    margin-bottom: 0px;
    color: #66bfbf;
}
p{
    line-height: 2;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: #66bfbf;
    font-size: 2.3rem;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
hr{
    border-top: 5px;
    border-style: dotted;
    border-bottom: 0;
    width:5%;
    background-color: white;
    margin: 100px auto;
    border-color: #cdd8d8;

}
div{
    margin:40px auto;
}
.work{
    margin-top: 10px;
    font-size: 2rem;
}
.profile{
    margin:10px auto;
    width:40%;
}
.top_container {
    background-color: #E4F9F5;
    /* border:solid 10px;
    padding: 20px;
    margin: 0px;
    height:200px ;
    width: 200px; */
    padding-top: 90px;
    margin-top: 0;
}

/* .middle_container{
    height:200px ;
    width: 200px;
    background-color: red;
    border: solid 20px;
    margin-left: 260px;
}
.bottom_container{
    height:200px ;
    width: 200px;
    background-color: yellow;
    border: solid 10px;
    margin-left: 500px;
} */
.Web{
    text-decoration: underline;
}
.cloud2{
    position:absolute;
    left:250px;
    bottom: 150px;;
}
.cloud1{
    position: absolute;
    right:300px;
    top:40px;
}
.Intro{
    margin-bottom:20px;
}
.Mudit-img{
    width:300px;
    height:300px;
    margin-top:100px
}
.Web-img{
    background-color: black;
    border-radius: 70%;
    width:200px;
    float:left;
    margin-right: 30px;

    
}
.SQL-img{
    float:right;
    border-radius: 100%; 
    height: 200px;
    width: 200px;
    margin-left: 30px;


}
.skill-row{
    width:50%;
    margin:150px auto;
    text-align: left;
    line-height: 2;
}
/* .Clear-para1{
    clear: left;/* makes sure nothing wraps around the text in left-----sort of anti-float
}*/

/*.Clear-para2{
    clear:right;

} */
.Mudit-img{
    width: 50%;
    height: 50%;

}
.contact-me{
    line-height: 40px;
    width:50%;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .bottom-container{
    background-color: #66bfbf;
    height: 130px;
    margin-bottom: 0px;
    padding: 10px;
  }

  .footer-link{
    color: #11999E;
    display: inline-block;
    width:100px;
    margin: 20px auto;
  }
.copyright{
    color:#EAF6F6;
    font-size:10px;
    position: relative;
    
}
a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    padding: 10px;
}
a:hover{
    color:#eaf6f6;
}